body {
    background-color: rgb(100, 100, 81);
  }
  
  html {
    font-size: 1.25rem;
  }
  
  h2 {
    color: black;
    text-align: center;
    font-size: 2rem;
  }
  
  body {
    /* display: flex; */
    margin: 0;
  }

  .logo {
    width: 50px;
}

.app-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.app-logo li {
  list-style-type: none;
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
  
  
.contact {
  justify-self: center;
    max-width: 800px;
    height: auto;
    background-color: lightgoldenrodyellow;
    margin: 5rem auto;
    padding: 1rem;
  }
  
  label, #send, #cancel {
    margin-top: 1rem;
  }
  
  input, label {
    display: block;
  }
  
  input {
    width: 100%;
    height: 25px;
  }

  
  
  .contact textarea {
    display: block;
    width: 100%;
    max-width: 900px;
    height: 260px;
    resize: vertical;
  }
  
  
  #send, #cancel {
    height: 2.5rem;
    font-size: 1rem;
    border-radius: 10px;
  }
  
  
  #send {
    background-color: rgb(100, 100, 81);
    color: rgb(224, 224, 224);
  }
  
  
  @media screen and (min-width: 900px) {
 
    
    .contact {
      text-align: right;
    }
  
    label, input {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 1rem;
      align-items: center;
    }
  
    .contact textarea {
      height: 260px;
    }
  
    .buttons {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      margin: 0 4rem 0 4rem;
    }
  }
  